.loading{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    transition: 3.5s, visibility 3.5s;
    z-index: 9;
}

.loading-hidden{
    opacity: 0;
    visibility: hidden;
}
.loading::after{
    content: "";
    width:75px;
    height: 75px;
    border: 15px solid #9b5454;
    border-top-color: #2d2d73;
    border-radius: 50%;
    animation: loading .75s ease infinite;
}
@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

.movie-poster{
    position: absolute;
    top: -30px;
    height: 400px;
    aspect-ratio: 2/3;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.movie-container{
    height: 75%;
    position: relative;
    flex-direction: row;
    background-color: rgba(101, 101, 101, 0.78);
    border-radius: 20px;
}
.movie-container-right{
    padding: 20px 20px 20px 0;
    height: 250px;
    width: 400px;
}
.movie-container-left{
    width: 305px;
}
.cast-wrapper{
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
}
.cast-avatar{
    display: flex;
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    object-fit: cover;
}
.movie-container-buttons{
    justify-content: center;
}
.header-row{
    height: 10vh;
    margin-bottom: 100px;
}
.movie-compact{
    height: 325px;
}
.container.slider{
    min-height: 70vh;
}
.slider-mask {
    overflow: hidden;
    align-self: stretch;
    flex: 1 0 0;
    position: relative;
}
.slides {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.controls>*{
    font-size: 35px;
}
.arrow-left{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
.arrow-right{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: all ease .3s;
    border: 2px solid #fff;
}
.slide.left{
    left: -100%;
}
.slide.right{
    left: 100%;
}
